<div class="container">
    <!--プロジェクト一覧を表示-->
    <div class="card" *ngFor="let proData of getList()">
        <div class="box">
            <div class="title"><div>{{proData.title}}</div></div>
            <div class="content">
                <div class="img"><img src="assets\image\project\{{proData.img}}"></div>
                <table>
                    <tr><th>詳細</th><td>{{proData.text}}</td></tr>
                    <tr><th>言語</th><td>{{proData.language}}</td></tr>
                    <tr><th>URL</th><td><a href="{{proData.url}}" appLinkstyle>{{proData.url}}</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>