<div class="container">
    <img *ngFor = "let picture of pics" src="assets\image\profiel\{{picture}}">
    <div class="border"></div>
    <div class="card-box">
    <div class="card">
        <mat-card>
            <mat-card-title>名前</mat-card-title>
            <mat-card-content>鈴木あかり</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>生年月日</mat-card-title>
            <mat-card-content>1993年11月16日</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>出身地</mat-card-title>
            <mat-card-content>函館</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>住所</mat-card-title>
            <mat-card-content>札幌</mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-title>IT資格</mat-card-title>
            <mat-card-content>Java Gold</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>座右の銘</mat-card-title>
            <mat-card-content>弘法筆を選ばず</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>趣味</mat-card-title>
            <mat-card-content>制作すること</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>特技</mat-card-title>
            <mat-card-content>カラーコーディネート</mat-card-content>
        </mat-card>
    </div>
    </div>
</div>